.containerAbout{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom:50px;
    border-bottom: 1px solid gray;
}
.AboutLine{
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
}
.PhotoImg{
    width: 40%;
}
.textAbout{
    color:#2E3D61;
    padding: 0 20px;
    text-align: justify;
    font-size: 13pt;
}

@media screen and (max-width: 800px){
    .AboutLine{
        flex-direction: column;
    }
    .PhotoImg{
        width: 100%;
    }
}