.containerMot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    color:#2E3D61;
}
.cardMot{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 23%;
    height: 150px;    
}
.cardMot p{
    font-size: 12pt;
}
.iconsMot{
    height: 50%;
}