.containerDepo{
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.containerCards{
    display:flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
.cardDep{
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px 5px;
}
.imgCard{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.titleDepo{
    text-align: center;
    margin-top: 10px;
}
.textDepo{
    margin-top: 15px;
    text-align: center;
    font-style: italic;
    width: 40%;
}

@media screen and (max-width:800px){
    .containerCards{
        flex-direction: column;
        padding: 0 15px;
    }
}