a {
    cursor: pointer;
  }
    
    .App-Banner {
      display: flex;
      background-color: darkgray;
      color: #f9f9f9;
      height: 60vh;
      justify-content: center;
      align-items: center;
      padding: 0 50px;
    }
    .Area-Banner{
      padding: 0 50px;
      max-width: 100%;
      text-align: center;
    }
    @media screen and (max-width: 800px) {
      
    }