/*
Azul Escuro:2E3D61
Azul Claro:00C5EA
Branco:F9F9F9

*/
html,body{
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.App {
  text-align: center;
  background-color: #f9f9f9;
}

