.containerNews{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom:50px;
    border-bottom: 1px solid gray;
}
a {
    text-decoration: none;
    color:#2E3D61
}
.containerListCard{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.cardNews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #f9f9f9;
    border-radius: 2%;
    width: 31%;
    height: 320px;
}
.cardNews:hover{
    border: 1px solid #00C5EA;
}
.imgNews{
    width: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.cardNews h3 {
    padding: 15px 5px;
}

.moreNews {
    text-decoration: none;
    
}
.moreNews:hover {
    color: #00C5EA;
}
.moreView{
    background-color: #2E3D61;
    padding: 0px 80px;
    border-radius: 10px;
    color: #f9f9f9
}
.moreView:hover{
    background-color: #3d4f7a;
}

@media screen and (max-width: 800px){
    .cardNews{
        width: 80%;
    }
}