a {
    cursor: pointer;
  }
    
    .App-Banner {
      display: flex;
      background-color: white;
      height: 60vh;
      justify-content: center;
      align-items: center;
    }
    .BannerImg{
      height: 60vh;
    }
    @media screen and (max-width: 800px) {
      
    }